.App {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;

	.board {
		background: lightseagreen;
		width: 100vmin;
		height: 100vmin;
		position: relative;

		.shape {
			position: absolute;
			background: black;
			transform: translate(-50%,-50%);
		}
	}
}
